<ActionBar class="action-bar" title="Your Company Name">
    <ActionItem android.position="actionBar" ios.position="right" (tap)="onProfileButtonTap()">
        <Label text="&#xf2bd;" class="fa action-button text-right m-r-15"></Label>
    </ActionItem>
</ActionBar>

<FlexboxLayout class="page">
    <StackLayout class="flexbox-item">
        <Label class="t-30 title content" text="Welcome"></Label>
        <Label class="t-20 content font-weight-bold" [text]="loggedUser" ></Label>
        <Label class="t-10 content" text="San Francisco, CA"></Label>
    </StackLayout>
    <StackLayout class="hr flexbox-item"></StackLayout>
    <FlexboxLayout flexGrow="1" class="flexbox-item menu">
        <FlexboxLayout flexGrow="1" class="menu-group">
            <StackLayout flexGrow="1" data-name="home">
                <Button text="&#xf015;" class="fa menu-icon" (tap)="onMenuButtonTap($event)"></Button>
                <Label text="Home" class="text-center m-t-16" (tap)="onMenuButtonTap($event)"></Label>
            </StackLayout>
            <StackLayout flexGrow="1" data-name="news">
                <Button text="&#xf1ea;" class="fa menu-icon" (tap)="onMenuButtonTap($event)"></Button>
                <Label text="News" class="text-center m-t-16" (tap)="onMenuButtonTap($event)"></Label>
            </StackLayout>
        </FlexboxLayout>
        <FlexboxLayout flexGrow="1"  class="menu-group">
            <StackLayout flexGrow="1" data-name="favorites">
                <Button text="&#xf005;" class="fa menu-icon" (tap)="onMenuButtonTap($event)"></Button>
                <Label text="Favorites" class="text-center m-t-16" (tap)="onMenuButtonTap($event)"></Label>
            </StackLayout>
            <StackLayout flexGrow="1" data-name="settings">
                <Button text="&#xf013;" class="fa menu-icon" (tap)="onMenuButtonTap($event)"></Button>
                <Label text="Settings" class="text-center m-t-16" (tap)="onMenuButtonTap($event)"></Label>
            </StackLayout>
        </FlexboxLayout>
    </FlexboxLayout>
    <Button row="1" class="btn btn-rounded-sm btn-primary btn-active btn-margin font-weight-bold t-18 flexbox-item" (tap)="logout()" text="Log out"></Button>
</FlexboxLayout>