<FlexboxLayout class="page page-login" backgroundImage="res://mesh">
    <StackLayout verticalAlignment="top" height="30%" class="flexbox-item">
        <Label class="t-30 company-name" text="Your Company Name"></Label>
    </StackLayout>
    <Image flexGrow="1" src="res://company_logo" stretch="none"></Image>
    <StackLayout verticalAlignment="top" horizontalAlignment="center" class="flexbox-item">
        <Label class="t-18 login-text" text="Log in with your organizational account"></Label>
        <Button class="btn btn-login btn-rounded-sm font-weight-bold t-18" (tap)="login()" text="Log in"></Button>        
    </StackLayout>
</FlexboxLayout>

